body {
    width: 60%;
    padding-left: 20%;
}

bold {
    font-weight: bold;
}

centre {
    display: block;
    text-align: center;
}

noBullets ul {
     list-style-type: none;
} 

div.colour p, div.colour ul{
    padding-left: 2000px;
    padding-right: 2000px;
}